﻿@model ArnoldClark.ViewModels.LoanQuoteViewModel

@{ 
    IFormatProvider formatProvider = new System.Globalization.CultureInfo("en-GB");
}
<div>
    <h4>Quote Summary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehiclePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VehiclePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepositAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoanTerm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoanTerm) months
        </dd>
    </dl>
</div>
<div>
    <ul>
        @foreach (var installment in Model.Schedule.Installments)
        {
        <li>
            Date: @installment.Key.ToLongDateString() Installment Amount: @installment.Value.InstallmentAmount.ToString("C", formatProvider)
        </li>
        <li>
            Amount Oustanding After Installment: @installment.Value.AmountOutstanding.ToString("C", formatProvider)
        </li>
        }
        </ul>
</div>