﻿@model ArnoldClark.Models.QuotePostModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/arnold_clark_logo.png" />
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Interest Free Loan Calculator</h2>
        <p>To generate a quote, please enter the following details and press the calculate button</p>
    </div>
</div>
<div class="row">
    @Html.LabelFor(x => x.VehiclePrice, "Vehicle Price")
    @Html.TextBoxFor(x => x.VehiclePrice, new { @id = "vehiclePrice"})
    <br />
    @Html.LabelFor(x => x.Deposit, "Deposit (Minimum 15%)")
    @Html.TextBoxFor(x => x.Deposit, new { @id = "deposit"})
    <br />
    @Html.LabelFor(x => x.DeliveryDate, "Delivery Date")
    @Html.TextBoxFor(x => x.DeliveryDate, new { @id = "deliveryDate" })
    <br />
    @Html.LabelFor(x => x.LoanTerm, "Loan Term (years)")
    @Html.DropDownListFor(x => x.LoanTerm, Html.GetEnumSelectList(typeof(LoanTermEnum)), new { @id = "loanTerm" })
    <div>
        <input type="submit" value="calculate" id="calculate" name="calculate" onclick="Calculate()" />
    </div>
</div>

<div class="row">
    <div id="quote"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    function Calculate() {
        var vehiclePrice = $('#vehiclePrice').val();
        var deposit = $('#deposit').val();
        var deliveryDate = $('#deliveryDate').val();
        var loanTerm = $('#loanTerm').val();

        var quote = { VehiclePrice: vehiclePrice, Deposit: deposit, DeliveryDate: deliveryDate, LoanTerm: loanTerm };

        $.ajax({
            type: 'POST',
            url: '/Quote/GetQuote',
            data: JSON.stringify(quote),
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            success: function (response) {
                console.log(response);
                $('#quote').html(response)
            },
            error: function (response) {
                $('#quote').html(response)
            }
        });
    }
</script>